# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*
!.env.example
.env.backup
.env.production

# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# PHP / Ferramentas
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

# Dependências
/node_modules
/vendor

# Build frontend
/public/build
/public/hot

# Storage (IMPORTANTE)
/storage/*
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/logs

# Cache bootstrap
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Storage público
/public/storage

# Arquivos específicos
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Testes / cobertura
coverage/
